<%= form_with(model: spot, local: true) do |form| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
      <% spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :spot_name %>
  </div>

  <div class="field">
    <%= form.label :english_name %>
    <%= form.text_field :english_name, id: :spot_english_name %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :spot_category %>
  </div>

  <div class="field">
    <%= form.label :prefecture %>
    <%= form.text_field :prefecture, id: :spot_prefecture %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :spot_address %>
  </div>

  <div class="field">
    <%= form.label :address_in_english %>
    <%= form.text_field :address_in_english, id: :spot_address_in_english %>
  </div>

  <div class="field">
    <%= form.label :ssid %>
    <%= form.text_field :ssid, id: :spot_ssid %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :spot_url %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :spot_longitude %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :spot_latitude %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
